<div fxLayout="column" class = "container-fluid" fxLayoutAlign="start" (click) = "removeCardZoom()">
    <div  fxLayout="row" fxLayoutAlign="center center" class = "margin-label">
    <md-icon (click) = "closeDialog()" class="primary-icon">check</md-icon>
    </div>
    <div fxLayout="row" fxLayoutWrap fxLayoutAlign = "space-between">
        <img #allcards 
             *ngFor ="let card of (cards | async); let i = index" 
             (press) = "zoomCard($event, i)" fxFlex="30" [class.active]="i === selectedIndex"
             (tap) = "selectCard($event, card, i)"
             class="{{ isCardSelected(i) ? 'image-selector selected leftandright' : 'image-selector'}} {{color}}"
             [src] ="card?.Url">
    </div>
</div>