<div fxLayout="column" >
    <div class="container-fluid" fxLayout="row" fxLayoutAlign="center">
        <md-input-container>
            <input mdInput placeholder="Game Name" value="Game 1">
        </md-input-container>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between">
         {{(game | async)?.CharacterImage}}
        <div class = "character" fxFlex="30">
            <md-icon *ngIf="!(game | async)?.CharacterImage" (click)="selectCharacter()" svgIcon="ic_box_frame" class="enormous-icon grey-icon frame"></md-icon>
            <img *ngIf="(game | async)?.CharacterImage" (click)="selectCharacter()" [src] = "(game | async)?.CharacterImage">
        </div>
        <div>
            Lo que sea menos un text area
        </div>
    </div>
    <div class="container-fluid" fxLayout="column" fxLayoutAlign="space-between">
        <carousel class = "carouselContainer"
            [cards]="(game | async)?.Skills">
        </carousel>
        <carousel 
            class = "carouselContainer"
            [cards]="(game | async)?.Skills">
        </carousel>
    </div>
</div>
