<div fxLayout="column" >
    <div class="container-fluid" fxLayout="row" fxLayoutAlign="space-between start">
        <div class = "character" fxFlex="30">
            <img [src] = "(game | async)?.CharacterImage">
        </div>
        <div>
            <textarea [ngModel]="(game | async)?.Notes" rows="10" cols="25"></textarea>
        </div>
    </div>
    <div class="container-fluid" fxLayout="column" fxLayoutAlign="space-between">
        <div>
            <carousel class = "carouselContainer"
                [cards]="(game | async)?.Skills"
                (selectedItemChanged)="AddCard($event, 'skills')">
            </carousel>
        </div>
        
        <carousel 
            class = "carouselContainer"
            [cards]="(game | async)?.Objects"
            (selectedItemChanged)="AddCard($event, 'objects')">
        </carousel>
    </div>
</div>
