.image-selector {
    margin: 2px 0 2px 0;
    height: 33%;
    width: 33%;


}
 .image-selector.active {
    -moz-transition: all 0.75s;
    -webkit-transition: all 0.75s;
    transition: all 0.75s;

    top:50%;
    left:50%;
    position: sticky;
    -moz-transform: scale(2.0) translate(-30%, -30%);
    -webkit-transform: scale(2.0) translate(-30%, -30%);
    transform: scale(2.0) translate(-30%, -30%);
    box-shadow: 0 8px 6px -6px black;
}   
