<div class="template-editor-label" (click)="viewer.focus()" *ngIf="label">
    {{label}}
</div>
<div class="template-editor-container">
    <div #viewer class="template-editor-content" [class.has-properties]="properties && properties.length" tabindex="0" [innerHTML]="value | chipify:properties"  [hidden]="isEditorVisible" (focus)="showEditor()"></div>
    <div #editor class="template-editor-content" [class.has-properties]="properties && properties.length" (input)="updateContent($event.target.innerText)" [hidden]="!isEditorVisible" (blur)="hideEditor()" contenteditable></div>
    <button md-raised-button class="add-property-btn" [class.hidden]="!properties || !properties.length" [mdMenuTriggerFor]="propertiesMenu">
        <md-icon>playlist_add</md-icon>
    </button>
</div>
<md-menu #propertiesMenu="mdMenu">
    <a *ngFor="let property of properties" md-menu-item (click)="addProperty(property)">
        {{property.label}}
    </a>
</md-menu>
