.template-editor-content {
    box-shadow: 0 0 2px #CCC;
    min-height: 18px;
    padding: 10px;
    outline: none;
    overflow: auto;
    /*overflow: auto;
    resize: vertical;*/
    white-space: pre-wrap;
}

.template-editor-container {
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
}

.add-property-btn {
    box-shadow: 0 0 2px #CCC;
    position: absolute;
    top: 0;
    right: 0;
    min-width: 40px;
    min-height: 38px;
    padding: 0;
}

:host.ng-invalid.ng-touched .template-editor-content {
    box-shadow: 0 0 2px #c10606;
}

:host.ng-invalid.ng-touched .template-editor-label {
    color: #c10606;
}

.has-properties {
    padding-right: 50px;
}