div#carousel img{ 
    width: 100%;
    height: auto;
    box-shadow: 0 8px 6px -6px black;
    
}
div#carousel div:last-child img { 
    box-shadow: none;
}
div#carousel div { 
    transition: 0.75s;
}

div#carousel { 
    margin: 9% 3% 9% 3%;
}
.block-overflow{
    overflow-x: hidden;
}

div.zoom { 
    transform: scale3d(2, 2, 1) !important;
    position: absolute;
}

