<md-toolbar class="toolbar md-elevation-z6">
    <div class="header container-fluid" fxLayout="row" fxLayoutAlign="start center">
        <div *ngIf = "(userProfile | async)?.ProfileImage" fxLayout="row">
            <img  class = "user-profile" [src] ="(userProfile | async)?.ProfileImage">
        </div>
        <div fxLayout="row">
            <img class = "logo" src ="Content/images/descent-logo.jpg">
        </div>
        <span fxFlex="auto"></span>
        <md-menu #menu="mdMenu">
            <a *ngIf = "(userProfile | async)?.Name" md-menu-item routerLink="/">
                <div  fxLayoutAlign="start center">
                    <span>Hello {{(userProfile | async)?.Name}}</span>
                </div>
            </a>
            <a md-menu-item class = "divider"  routerLink="/games/new">
                <div fxLayoutAlign="start center">
                    <md-icon class="primary-icon">add</md-icon>
                    <span> New game</span>
                </div>
            </a>
            <a md-menu-item *ngFor="let game of (games | async)?.Games" routerLink="/games/{{game.Id}}">
                <span>{{game.Name}}</span>
            </a>
            <a md-menu-item (click) = "onLogOut()">
                <div fxLayoutAlign="start center">
                    <span>Log out</span>
                </div>
            </a>
        </md-menu>
        <div [hidden] = "!(userProfile | async)?.Name" >
            <button md-icon-button [mdMenuTriggerFor]="menu">
                <md-icon class="primary-icon">more_vert</md-icon>
            </button>
        </div>
    </div>
</md-toolbar>
<div class="main-container" >
    <router-outlet></router-outlet>
</div>