@using System.Web.Configuration
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="~/Content/images/favicon.ico" />
    <link rel="apple-touch-icon" href="~/Content/images/apple-touch-icon.png" />
    <title>Descent Manager</title>
    <base href="@Context.Request.ApplicationPath.TrimEnd('/')/" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="@Url.Content("~/Content/dist/Site.css")" rel="stylesheet" type="text/css" />
    <script src="https://apis.google.com/js/platform.js" async defer></script>


    <!-- 1. Load libraries -->
    <!-- Polyfill(s) for older browsers -->

    <script src="~/Scripts/libs/shim.min.js"></script>
    <script src="~/Scripts/libs/zone.js"></script>
    <script src="~/Scripts/libs/web-animations.min.js"></script>
    <script src="~/Scripts/libs/smoothscroll.js"></script>
    <script src="~/Scripts/libs/hammer.min.js"></script>
    <!-- Hammer JS Touch Emulator: Uncomment if for desktop -->
    @*<script src="https://cdn.rawgit.com/hammerjs/touchemulator/master/touch-emulator.js"></script>
    <script>
        TouchEmulator();
    </script>*@

    <script>
        function absorbEvent_(event) {
            var e = event || window.event;
            e.preventDefault && e.preventDefault();
            e.stopPropagation && e.stopPropagation();
            e.cancelBubble = true;
            e.returnValue = false;
            return false;
        }

        function preventLongPressMenu(node) {
            node.ontouchstart = absorbEvent_;
            node.ontouchmove = absorbEvent_;
            node.ontouchend = absorbEvent_;
            node.ontouchcancel = absorbEvent_;
        }

        function init() {
            preventLongPressMenu(document.getElementById('theimage'));
        }
    </script>

    @{ var isDevMode = WebConfigurationManager.AppSettings["DevMode"] == "true"; }

    @if (isDevMode)
    {
        <!-- 2. Configure SystemJS -->
        <script src="~/Scripts/libs/system.src.js"></script>

        <script src="~/Scripts/system.config.js"></script>
        <script>
            System.import('../Scripts/dist/jit/main').catch(function (err) {
                console.error(err);
            });
        </script>
    }
</head>
<body>

    @RenderBody()

    @if (!isDevMode)
    {
        <script>window.module = 'aot'</script>
        <script src="~/Scripts/dist/build.js"></script>
    }

</body>
</html>