<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="1030197237184-1qtod5qe8of2f4unucqqq9pf2r04cj6u.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <link rel="icon" type="image/x-icon" href="~/Content/images/favicon.ico" />
    <link rel="apple-touch-icon" href="~/Content/images/apple-touch-icon.png" />
    <title>Descent Manager</title>
    <base href="@Context.Request.ApplicationPath.TrimEnd('/')/" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="@Url.Content("~/Content/dist/Site.css")" rel="stylesheet" type="text/css"/>

    <!-- 1. Load libraries -->
    <!-- Polyfill(s) for older browsers -->
    
    <script src="~/Scripts/libs/shim.min.js"></script>
    <script src="~/Scripts/libs/zone.js"></script>
    <script src="~/Scripts/libs/web-animations.min.js"></script>
    <script src="~/Scripts/libs/smoothscroll.js"></script>
    <script src="~/Scripts/libs/hammer.min.js"></script>
</head>
<body>

@RenderBody()

</body>
</html>