@using System.Web.Configuration
@{ var isDevMode = WebConfigurationManager.AppSettings["DevMode"] == "true"; }

@if (isDevMode)
{
        <!-- 2. Configure SystemJS -->
    <script src="~/Scripts/libs/system.src.js"></script>

        <script src="~/Scripts/system.config.js"></script>
        <script>
            System.import('../Scripts/dist/jit/main').catch(function(err) {
                console.error(err);
            });
        </script>
}

<descent-app logOutUrl="@Url.Action("LogOff", "Account")"></descent-app>

@if (!isDevMode)
{
    <script>window.module = 'aot'</script>
    <script src="~/Scripts/dist/build.js"></script>
}

<div style ="visibility:hidden" class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
<script>
    function onSignIn(googleUser) {
    };
</script>

